.cart-item-content{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.cart-item-qty{
    display: flex;
}

.item-qty-btns{
    margin-left: 10px;
    transform: translateY(-5px);
}

.item-qty-btns button{
    background: transparent;
    border: none;
    cursor: pointer;
}

.add-to-cart{
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}

.product-header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.product-header img{
    height: 250px;
    width: 250px;
}

.product-header-text{
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#transition-modal-title{
    font-size: 1.2em;
}

.product-desc{
    margin-top: 20px;
    font-size: 1.5em;
    font-family: 'candara';
    font-weight: 600;
}

.cart-total{
    width: 100%;
    font: 600 1em 'arial';
    text-align: center;
}